.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image-container {
    position: relative;
    width: 65%;
    max-width: 100%;
    max-height: 350px;
    margin: 20px;
}

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
        max-height: 350px;
        background-size: cover;
        object-fit: cover;
    }

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    color: black;
    text-align: left;
    display: flex;
}

    .text-overlay h1 {
        font-size: 1.5rem;
    }

    .text-overlay h2 {
        font-size: 1.2rem;
    }
    .text-overlay p {
        font-size: 1rem;
    }

.left-column {
    flex: 1;
    padding: 20px;
}

    .left-column h1 {
        font-size: 2.5em;
        text-align: center;
        padding-top: 20px;
        color: #0079a2;
    }

    .left-column h2 {
        font-size: 1.5em;
        text-align: center;
        padding-top: 5px;
        color: #d8a93f;
    }

.right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

    .right-column img {
        max-width: 100%;
        height: auto;
    }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
